---
import MaterialSymbolsInfoOutline from '~icons/material-symbols/info-outline';
---

<div class='bg-primary-500 !text-white p-3 my-4 rounded-lg max-w-md mx-auto box text-sm'>
    <span style={{ fontSize: '1.0rem' }} class='!text-white'>
        <MaterialSymbolsInfoOutline />
    </span>
    <slot />
</div>
