---
import DashiconsExternal from '~icons/dashicons/external';
---

<div class="mt-12 8 border-t border-gray-200">
    <h3 class="text-base font-semibold text-main my-3 mt-4">
        Want to integrate your tool?
    </h3>
    <p>
        We welcome integrations with external tools. Our API provides programmatic access to sequence data and metadata. If you wish to add your tool to the list, please send us a request through GitHub.
    </p>
    <div class="mt-4 flex items-center gap-6">
        <a href="https://github.com/pathoplexus/pathoplexus/issues" class="outlineButton flex">
            Submit request
            <DashiconsExternal className='ml-1' />
        </a>
        <a href="/api-documentation"
           class="underline">
            View API documentation
        </a>
    </div>
</div>
