---

---

<h2 class='text-lg font-semibold text-main my-3 mt-6'>Welcome to Pathoplexus!</h2>

<p class='my-4'>
    Pathoplexus is a new, open-source database dedicated to the efficient sharing of human viral pathogen genomic data,
    fostering global collaboration and public health response.
</p>
