---
import LatestNews from './LatestNews.astro';
---

<section class='my-6 space-y-4'>
    <h2 class='text-lg font-semibold text-main'>Welcome to Pathoplexus!</h2>

    <p>
        Pathoplexus is a new, open-source database dedicated to the efficient sharing of human viral pathogen genomic data,
        fostering global collaboration and public health response.
    </p>
</section>

<LatestNews />
