---

---

<h2 class='text-lg text-gray-700'>Welcome to Pathoplexus!</h2>

<p class='text-gray-700 my-4'>
    Pathoplexus is a new, open-source database dedicated to the efficient sharing of human viral pathogen genomic data,
    fostering global collaboration and public health response.
</p>
