---
import { getOrganismStatisticsMap } from '../../../components/IndexPage/getOrganismStatistics';
import CardsToSelectOrganism from '../../../components/OrganismSelector/CardsToSelectOrganism.astro';
import { getConfiguredOrganisms } from '../../../config';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { routes } from '../../../routes/routes';

const numberDaysAgoStatistics = 30;
const configuredOrganisms = getConfiguredOrganisms();
const organismStatisticsMap = await getOrganismStatisticsMap(
    configuredOrganisms.map((organism) => organism.key),
    numberDaysAgoStatistics,
);
---

<BaseLayout title='Browse data'>
    <div class='mx-auto flex  flex-col gap-6 px-2 py-6 sm:px-6'>
        <div>
            <h1 class='text-3xl font-semibold text-slate-900 sm:text-4xl'>Explore the data</h1>
            <p class='mt-3 text-base text-slate-700'>
                Choose the organism for which you want to explore data. You will then be taken to the search page for that organism.
            </p>
        </div>
        <CardsToSelectOrganism
            getLinkForOrganism={(organismKey) => routes.searchPage(organismKey)}
            instructionText='Select an organism:'
            organismStatisticsMap={organismStatisticsMap}
            numberDaysAgoStatistics={numberDaysAgoStatistics}
        />
    </div>
</BaseLayout>
