---
import MaterialSymbolsWarningOutline from '~icons/material-symbols/warning-outline';
---

<div class='bg-amber-300 p-3 my-4 rounded-lg mx-auto box text-sm'>
    <span style={{ fontSize: '1.0rem' }}>
        <MaterialSymbolsWarningOutline />
    </span>
    <slot />
</div>
