---
import MaterialSymbolsWarningOutline from '~icons/material-symbols/warning-outline';
---

<div class='bg-amber-300 p-3 my-4 rounded-lg mx-auto box text-sm'>
    <span class='text-base inline-flex items-center'>
        <span class='inline-block mr-2'>
            <MaterialSymbolsWarningOutline />
        </span>
        Caution
    </span>
    <slot />
</div>
