---
import MaterialSymbolsInfoOutline from '~icons/material-symbols/info-outline';
---

<div class='bg-primary-300 p-3 my-4 rounded-lg mx-auto box text-sm'>
    <span style={{ fontSize: '1.0rem' }}>
        <MaterialSymbolsInfoOutline />
    </span>
    <slot />
</div>
