---
import NoToolsAvailable from '../../../components/ExternalTools/NoToolsAvailable.astro';
import ToolCard from '../../../components/ExternalTools/ToolCard.astro';
import ToolsIntegrationNotice from '../../../components/ExternalTools/ToolsIntegrationNotice.astro';
import { tools } from '../../../components/ExternalTools/tools';
import { cleanOrganism } from '../../../components/Navigation/cleanOrganism';
import BaseLayout from "../../../layouts/BaseLayout.astro";

const { organism } = cleanOrganism(Astro.params.organism);

if (!organism) {
    return {
        statusCode: 404,
        body: 'Organism not found',
    };
}

const relevantTools = tools.filter(tool =>
    tool.organisms.includes(organism.key)
).sort((a, b) => a.name > b.name ? 1 : -1);
---

<BaseLayout title='External tools'>
    <div class='max-w-3xl mx-auto text-gray-700'>
        <h1 class='text-2xl font-semibold text-main my-3 mt-8'>
            External Tools for {organism.displayName}
        </h1>

        <div class='mb-3'>
            Tools that use data from Pathoplexus:
        </div>

        {relevantTools.length > 0 ? (
            <div class="space-y-6">
                {relevantTools.map(tool => (
                    <ToolCard tool={tool} selectedOrganism={organism.key} />
                ))}
            </div>
        ) : (
            <NoToolsAvailable />
        )}

        <ToolsIntegrationNotice />
    </div>
</BaseLayout>
