---
import MdLayout from '../../layouts/MdLayout.astro';
---

<MdLayout frontmatter={{ title: 'News' }}>
    <h1>News</h1>
    <div class='mt-8'>
        <h2>
            <a href='/news/2024-08-27-hello-world'>Introducing Pathoplexus</a>
        </h2>
        <div class='italic mb-4'>By the Pathoplexus Team - 27 August 2024</div>
        <div>
            We are announcing <b>Pathoplexus</b>, a specialised genomic database for viruses of public health
            importance. By combining modern open-source software with transparent governance structures, Pathoplexus
            fills a niche within the existing genomic sequencing database landscape, aiming to meet requests from both
            data submitters and users and striving to improve equity… <a href='/news/2024-08-27-hello-world'
                >Read more</a
            >
        </div>
    </div>
</MdLayout>

